@import "blog-layout-reset.css";
@import "blog-images.css";
@import "blog-font.css";

body {
  color: #696969;
  background-color: #faffff;
  font-family: "Playfair Display", serif;
}

.container {
  max-width: 480px;
  padding: 0 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  font-size: 1rem;
}

.header-nav:hover {
  color: #00008b;
  text-shadow: 5px 5px 5px whitesmoke;
  text-decoration: underline;
  font-weight: 600;
}

.header-links {
  display: flex;
  width: 10rem;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.main-top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-intro {
  font-size: 1.2rem;
  display: flex;
  justify-content: start;
}

.main-intro p {
  margin: 0;
  font-size: 1rem;
  padding-left: 1rem;
}

.main h1 {
  color: #00008b;
}

hr {
  border: 0.1px solid whitesmoke;
  margin: 2rem 0;
}

.main-bottom-text {
  display: grid;
  grid-template-rows: 1fr;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 1;
  margin-bottom: 5rem;
}

.bottom-text-p {
  width: 100%;
  margin: 0 auto;
  order: 2;
}

.bold {
  font-weight: 700;
  color: #00008b;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  font-weight: 100;
  font-size: 0.7rem;
}
