@import "personal-media.css";
@import "personal-images.css";
@import "personal-card.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #696969;
  background-color: #faffff;
}

.container {
  max-width: 480px;
  padding: 0 1.5rem;
}
/* Layout */
header {
  display: flex;
  max-width: 30%;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  font-size: 1rem;
}

.header-nav:hover {
  color: #00008b;
  text-shadow: 5px 5px 5px whitesmoke;
  text-decoration: underline;
  font-weight: 600;
}

.top-main {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.top-main h1 {
  font-size: 2rem;
  color: #00008b;
}

.top-main-quote {
  margin-top: 4rem;
}

.top-main-quote p,
figcaption {
  font-size: 0.8rem;
  color: #696969;
}

figcaption {
  margin-top: 0.5rem;
}

span {
  font-style: italic;
  color: #696969;
}

h2 {
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
}

.main-section img {
  border-radius: 10px;
}

.main-section button {
  border-radius: 5px;
  padding: 0.4rem;
  background-color: #dff7fa;
  border: 2px solid whitesmoke;
  cursor: pointer;
  color: black;
  text-align: center;
}

.main-section button:hover {
  background-color: #abd1f3;
  color: black;
  box-shadow: 5px 5px 5px whitesmoke;
}

button {
  margin-top: 1rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h4 {
  font-size: 1.5rem;
}

.blog-card {
  margin-bottom: 1.5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  font-weight: 100;
  font-size: 0.7rem;
}

@media (min-width: 481px) and (max-width: 800px) {
  .container {
    max-width: 800px;
  }
  .top-main {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;
  }
  .top-main-quote {
    margin-top: 0;
  }
  header {
    width: 20%;
  }
  h2 {
    margin-top: 10rem;
  }
  .main-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

@media (min-width: 801px) {
  .container {
    max-width: none;
  }
  .top-main {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .top-main-quote {
    margin-top: 0;
  }

  .top-main-text {
    font-size: 1.5rem;
  }

  .top-main-text h1 {
    margin: 1rem 0;
    font-size: 3rem;
  }

  blockquote {
    width: 20rem;
  }

  .top-main-quote p {
    font-size: 1rem;
  }

  header {
    width: 20%;
    font-size: 1.2rem;
  }

  h2 {
    margin-top: 15rem;
  }

  .main-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}
