/* Images and logo */
.header-logo {
  max-width: 1.5rem;
}

img {
  max-width: 250px;
}

.blog-photo {
  max-width: 0.8rem;
}

.main-section {
  font-family: "Indie Flower", cursive;
}

.headshot {
  border-radius: 50%;
  width: 9rem;
}
