.header-logo {
  width: 45px;
}

.main-social-media img {
  width: 50px;
}

.profile-logo {
  width: 3.5rem;
}

.main-social-media img {
  width: 2rem;
  padding: 1rem;
}

.main-social-media img:hover {
  opacity: 0.1;
  cursor: pointer;
}

.headshot-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figcaption {
  font-style: italic;
}

.headshot {
  width: 400px;
  border-radius: 50%;
  margin-top: 4rem;
}
