@media (max-width: 500px) {
  body {
    margin: 0 2rem;
  }
  .top-main {
    display: flex;
    flex-direction: column;
  }
  .main-section {
    display: flex;
    flex-direction: column;
  }
  .headshot {
    margin-top: 3rem;
  }
}
